body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, rgba(0, 173, 255, 0.8), rgba(195, 55, 100, 0.8));
    backdrop-filter: blur(10px);
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    margin-bottom: 20px;
    color: black;
}

.generator, .result {
    margin: 20px 0;
}

label {
    color: #fff;
}

input[type="number"], input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 60%;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    color: black;
}

input[type="number"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(33, 136, 56, 0.8);
}
